<div>
  <h2>About Serious pizzas</h2>
  <p>
    This project is a demo app for my application to FeedbackFruits. It should demonstrate my
    ability to learn and use new frameworks. Specifically Ember and Ruby on Rails.
  </p>
  <p>
    This file may be updated to contain several design considerations in the process of making
    this app.
  </p>
</div>
