<article class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title pizza-title">
    <h3>
      <div class="mdl-card__title-text">{{pizza.name}}</div>
      <div class="mdl-card__subtitle-text">
        {{pizza.price}}
      </div>
    </h3>
  </div>
  <div class="mdl-card__supporting-text">
    {{pizza.description}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button
      class="mdl-button mdl-js-button mdl-button--colored"
      {{action 'addToOrder'}}>
      Add to order
    </button>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">add</i>
  </div>
</article>