<article class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title pizza-title">
    <h3>
      <div class="mdl-card__title-text">{{pizza.name}}</div>
      <div class="mdl-card__subtitle-text">
        {{format-money pizza.price}}
      </div>
    </h3>
  </div>
  <div class="mdl-card__supporting-text">
    {{pizza.description}}
  </div>
  {{#mdl-card-actions}}
    {{#mdl-button action="addToOrder"}}
      Add to order
    {{/mdl-button}}
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons">add</i>
  {{/mdl-card-actions}}
</article>