<form>
  <div>
    <label>
      Name:
      {{input type="text" value=pizza.name}}
    </label>
  </div>
  <div>
    <label>
      Price:
      {{input type="number" value=pizza.price}}
    </label>
  </div>
  <div>
    <label>
      Description:
      {{textarea value=pizza.description}}
    </label>
  </div>
  <button {{action "save"}}>Save</button>
</form>