<form>
  <div class="mdl-textfield mdl-js-textfield">
    {{input type="text" value=pizza.name class="mdl-textfield__input" id="namefield"}}
    <label class="mdl-textfield__label" for="namefield">Name...</label>
  </div>
  <br />
  <div class="mdl-textfield mdl-textfield-js">
    {{input type="number" value=pizza.price class="mdl-textfield__input" id="pricefield"}}
    <label class="mdl-textfield__label" for="pricefield">
      Price:
    </label>
  </div>
  <br />
  <div class="mdl-textfield mdl-js-textfield">
    {{textarea value=pizza.description class="mdl-textfield__input" id="descriptionfield"}}
    <label for="descriptionfield" class="mdl-textfield__label">
      Description:
    </label>
  </div>
  <button class="mdl-button mdl-js-button" {{action "save"}}>Save</button>
</form>